- Languages I need these features to work for
	- Typescript
	- JavaScript
	- Vimscript
	- JSON
	- JSX
	- Svelte
	- Vue
	- Node
	- Rust
	- Go
	- Lua
	- YAML
- Features I care about
	- Go to definition
	- Go to references
	- Go to type definition
	- Syntax highlighting
	- Prettierrc and Eslintrc have syntax highlighting and 
	- Git blame
	- Show lines with git diffs
	- show git diffs
